{% extends 'base.html.twig' %}

{% form_theme form _self %}

{% block _receipt_form_ingredients_entry_widget %}
    <li id="row-__name__">
        {{ form_widget(form.ingredient) }}
        {{ form_widget(form.weight) }}
    </li>
{% endblock %}

{% block body %}
    <style>
        .example-wrapper {
            margin: 1em auto;
            max-width: 800px;
            width: 95%;
            font: 18px/1.5 sans-serif;
        }

        .example-wrapper code {
            background: #F5F5F5;
            padding: 2px 6px;
        }
    </style>

    <div class="example-wrapper">
        <a href="{{ path('default') }}">Return to Home</a>
        <h1>{{ title }}</h1>
        {{ form_start(form) }}
        {{ form_errors(form) }}
        {{ form_row(form.name) }}

        <h3>{{ form_label(form.ingredients) }}</h3>
        <div>
            <div>
                <button type="button" id="add_ingredient_link">Add ingredient</button>
            </div>
            <div>
                <ul id="ingredients-list"
                    data-prototype="{{ form_widget(form.ingredients.vars.prototype)|e('html_attr') }}">
                    {% for ingredient in form.ingredients %}
                        <li id="row-{{ loop.index-1 }}">
                            {{ form_widget(ingredient.ingredient) }}
                            {{ form_widget(ingredient.weight) }}
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        <button type="submit">{{ title }}</button>
        {{ form_end(form) }}
    </div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script
            src="https://code.jquery.com/jquery-3.4.1.min.js"
            integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
            crossorigin="anonymous">
    </script>
    <script>
        var $collectionHolder;

        var $addButton = $('#add_ingredient_link');

        jQuery(document).ready(function () {
            $collectionHolder = $('ul#ingredients-list');

            $collectionHolder.data('index', $collectionHolder.find(':input').length);
            $collectionHolder.find('li').each(function () {
                ingredientFormDeleteLink($(this));
            });
            $addButton.on('click', function (e) {
                addIngredientForm($collectionHolder);
            });
        });

        function addIngredientForm($collectionHolder) {
            var prototype = $collectionHolder.data('prototype');
            var index = $collectionHolder.data('index');
            var newForm = prototype;
            newForm = newForm.replace(/__name__/g, index);

            $collectionHolder.data('index', index + 1);
            $(newForm).appendTo($collectionHolder);
            $collectionHolder.find('input#receipt_form_ingredients_' + index + '_weight').val(
                $collectionHolder.find('li').length
            );

            ingredientFormDeleteLink($collectionHolder.find('li').last());
        }

        function ingredientFormDeleteLink($tagFormLi) {
            var $removeFormButton = $('<button type="button">Delete this</button>');
            $tagFormLi.append($removeFormButton);

            $removeFormButton.on('click', function (e) {
                $tagFormLi.remove();
            });
        }
    </script>
{% endblock %}