{% extends 'base.html.twig' %}

{% block body %}
    <style>
        .example-wrapper {
            margin: 1em auto;
            max-width: 800px;
            width: 95%;
            font: 18px/1.5 sans-serif;
        }

        .example-wrapper code {
            background: #F5F5F5;
            padding: 2px 6px;
        }
    </style>

    <div class="example-wrapper">
        <h1>Pizza catalog</h1>
        <a href="{{ path('pizza_creation') }}">Create Pizza</a>
        <ul>
            {% for pizza in pizzas %}
                <li>
                    {{ pizza.name }} - {{ pizza.price }}Eur -
                    <a href="{{ path('pizza_edit', {'id' : pizza.id}) }}">Modify</a>
                    </br>
                    (
                    {% for ingredient in pizza.ingredients %}{{ ingredient.name }}
                    {% if not loop.last %},{% endif %}
                    {% endfor %})
                </li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}
